<% include partials/header.ejs %>


<p><%=restaurant.name %></p>

<img src="<%= restaurant.image %>">

<p><%= restaurant.description %></p>

<div>
    <p>comments</p>
   <% restaurant.comments.forEach(function(comment) { %>
    <p><em><%= comment.text %></em> by <%= comment.author %></p>
  <% }) %>
  
</div>
<% include partials/footer.ejs %>