<% include partials/header.ejs %>


<p><%=restaurant.name %></p>

<img src="<%= restaurant.image %>">

<p><%= restaurant.description %></p>

<div>
    <p>comments</p>
    <p><%=restaurant%></p>
    <p><%=restaurant.comments%></p>
    <p><%=restaurant.comments[0]%></p>
    <p><%=restaurant.comments[0].text%></p>
   <% restaurant.comments.forEach(function(comment) { %>
    <% console.log('asd') %>
  <% }) %>
  
</div>
<% include partials/footer.ejs %>