<% include partials/header.ejs %>

  <link rel="stylesheet" href="/styles/restaurants-show.css">

  <div class="restaurant">
    <div class="restaurant__leftpanel">
      <p class="restaurant__name">NAME</p>
      <div class="restaurant__categories">
        <ul class="restaurant__categories-listcontainer">
          <li class="restaurant__categories-listitem">DIETARY</li>
          <li class="restaurant__categories-listitem">INFO</li>
          <li class="restaurant__categories-listitem">OTHER</li>
        </ul>
        <div class="restaurant__map"></div>
      </div>
    </div>
    <div class="restaurant__main">
      <div class="restaurant__photo"><img src="<%= restaurant.image %>"></div>
      <div class="restaurant__comments">BB
        <!-- TODO HERE -->
      </div>


    </div>


    <!-- <p><%=restaurant.name %></p>

<img src="<%= restaurant.image %>">

<p><%= restaurant.description %></p>

<div>
    <p>comments</p>
   <% restaurant.comments.forEach(function(comment) { %>
    <p><em><%= comment.text %></em> by <%= comment.author %></p>
  <% }) %>
</div>

<p>
  <a class="button" href="/restaurants/<%= restaurant._id %>/comments/new">Add New Comment</a>
</p> -->



  </div>
  <% include partials/footer.ejs %>