<% include partials/header.ejs %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

<div class="containers">
        <header class=hdr>
            <div class="container">
                restaurants
                <p>check out these restaurants</p>
                <p>
                    <a class="button" href="/restaurants/new">Add new restaurant</a>
                </p>
            </div>
        </header>

        <div class="container">
            <div class="rows__full-width">
                <h3>Lovely restaurants</h3>
            </div>

            <% restaurants.forEach(function(restaurant) { %>
                <a href="/restaurants/<%= restaurant._id %>">
                    <div class='rows__listing'>
                        <figure class="rows__listing-figure">
                            <figcaption><%= restaurant.name %>
                                <% if (currentUser && restaurant.author.id.equals(currentUser._id)) { %>
                                <a class="rows__listing-icon" href="/restaurants/<%= restaurant._id %>/edit"><i class="far fa-edit"></i></a>
                                <form class="rows__listing-icon" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST"><button type="submit"><i class="far fa-trash-alt"></i></button></form>
                                <% } else { %>
                                <a class="rows__listing-icon--disabled"><i class="far fa-edit"></i></a>
                                <a class="rows__listing-icon--disabled"><i class="far fa-trash-alt"></i></a>
                                <% } %>
                            </figcaption>
                            <a href="/restaurants/<%= restaurant._id %>"><p><img src="<%= restaurant.image %>"></p></a>
                        </figure>

                    </div>
                </a>
                <% }) %>
        </div>
    </div>

    <!-- <% include partials/footer.ejs %> -->
    <!-- disabled as its messed up atm -->